# Ignore everything
*

# Except these files and directories

# Documentation 
!/.gitignore
!/README.md

# Global configuration
!/AGENTS.md
!/config.toml

# Agent definitions
!/agents/
!/agents/**

# Agent shell scripts
!/scripts/
!/scripts/**